README.md.bak
demo/target/classes/com/ensea_java_final/
demo/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
demo/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ChatGPT_Notes.txt
.vscode/settings.json
demo/target/maven-status/maven-compiler-plugin/testCompile/
demo/target/surefire-reports/
